.mainCard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  margin: 20px 0;
  width: 520px;
  min-width: 520px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.mainCard:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.articleImage {
  display: flex;
  justify-content: center;
  width: inherit;
  height: auto;
  overflow: hidden;
}

.infoContainer {
  margin: 14px 20px;
}

.tagContainer {
  font-size: 16px;
  color: var(--va-main);
  margin: 14px 0;
  font-weight: bold;
}

.titleContainer {
  color: var(--va-main);
  font-size: 22px;
  font-weight: bold;
  min-height: 66px;
}

.descContainer {
  font-size: 20px;
  color: #656565;
  min-height: 120px;
}

.arrowContainer {
  display: flex;
  justify-content: end;
  height: 36px;
}

@media (max-width: 768px) {
  .mainCard {
    width: 350px;
    min-width: 350px;
  }

  .tagContainer {
    font-size: 14px;
    margin: 10px 0;
  }

  .titleContainer {
    font-size: 18px;
  }

  .descContainer {
    font-size: 16px;
  }

  .arrowContainer {
    height: 30px;
  }
}
