.articleListDesktop {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleListMobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
