.main {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
  justify-content: center;
}

.header {
  color: var(--va-main);
  font-size: 36px;
}

.tagContainer {
  display: flex;
  gap: 20px;
}

.moreButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0;
}

.emptyListContainer {
  min-width: 1280px;
}

@media (max-width: 768px) {
  .main {
    margin: 0 20px;
    width: 350px;
  }
}
